.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.back-to-top.show {
    display: block;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: black;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    font-size: 80px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    color: orangered
}

p {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    padding-left: 10px;

}

ul {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

li {
    text-decoration: none;
}

.translucido {
    background-color: rgba(179, 152, 152, 0.527);
    display: block;
    margin-right: 120px;
    margin-left: 135px;
    width: 80%;
}

.audio-container {
    position: absolute;
    top: 600px;
    right: 50px;
}

a {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caja {
    display: inline-block;
    width: 70px;
    height: 20px;
    border-radius: 55px;
    text-align: center;
    text-decoration: none;
}

.flexbox {
    display: flex;
    width: 50px;
    height: 50px;
    padding-left: 20px;
    background-color: blueviolet;
}

.container_menu {
    display: flex;
    background-color: rgba(75, 93, 109, 0.719);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -100px;
    transition: top 0.8s ease-in-out;
}

.container_menu.show {
    top: 0;
}

.menu {
    max-width: 1200px;
}

nav {
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 10%;
    list-style: none;
    position: relative;
    justify-content: center;
}



nav>ul>li>a {
    height: 30%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms ease;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

nav>ul>li>a:hover {
    transform: scale(1.1);
    background-color: #000000d0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    padding-right: 30px;
}

/*SUBMENU*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(75, 93, 109, 0.719);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(75, 93, 109, 0.719);
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: white;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
}

nav ul li ul li a:hover {
    background: #0074c7;
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url('marmol-negro-textura-fondo-textura-marmol-tailandia-marmol-natural-abstracto-blanco-negro-diseno.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

header {
    margin-top: 100px;
}

.imagen {
    text-align: right;
    margin-right: 76px;
    animation: flotando 1s ease-in;
}

.videos{display: flex;
    justify-content: center;
}
.video{
    display: flex;
    border-color: aliceblue;
    justify-content: center;
    width: 50%;
    height: 60vh;
    margin: 3px;
    padding: 10px;
    background-color: #ee0505;
    box-shadow: #0074c7;
    border-radius: 5px;
}
    

@keyframes flotando{
    0%{

    }
    50%{
        transform: translateY(5px);
    }
    100%{

    }
}

/*FOOTER, CONTACTANOS*/

footer{
    height:500px;
    background-color: rgba(75, 93, 109, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    display: flex;
    flex-direction: column;
}

form{box-shadow: 3px 3px 5px;
    background-color: rgb(97, 21, 21);
    width: 50%;
    display: block;
    text-align: center;
    align-items: center;
    padding: 15px;}

.datos{ width: 400px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

label{display: flex;
flex-direction: column;}
input{height: 20px;
display: block;}

input[type="text"]{height: 20px;
display: block;
width: 50%;}

input[type="submit"] {
    display: block;
    width: 50%;
    height: 50px;
    background-color: #3aa6b9;
    font-size: 30px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    border: 0;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #000;
  }



@media screen and (max-width: 720px) {
    .header {
        padding-left: 10px;
    }

    .logo img {
        width: 200px;
    }

}